.elements__list {
  display: grid;
  max-width: 880px;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  margin: 0 auto;
  padding: 51px 0 67px;
  list-style: none;
  gap: 20px 17px;
}